<section class="h-100 registro-pagina">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="brand">
          <img src="/assets/img/logoDentista.png">
        </div>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Creá tu cuenta</h4>
            <form (ngSubmit)="Registrarse()" ngNativeValidate>

              <div class="form-group">
                <label for="name">Nombre</label>
                <input id="name" type="text" class="form-control" name="name" [(ngModel)]="usuario.Nombre" required
                  autofocus>
              </div>

              <div class="form-group">
                <label for="email">Dirección de Email</label>
                <input id="email" type="email" class="form-control" name="email" [(ngModel)]="usuario.Email" required>
              </div>

              <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" type="password" class="form-control" name="password" [(ngModel)]="usuario.Password"
                  required data-eye>
              </div>

              <form class="form-group">
                <label for="customFile">Imágen</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" accept=".png, .jpg"
                    (change)="ImagenCargada($event)">
                  <label class="custom-file-label" for="customFile">{{imgName}}</label>
                </div>
              </form>

              <input #imgUsuario type="hidden" [value]="urlImagen | async">

              <form class="margin-bottom">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck" name="aggree" value="1" required>
                  <label class="custom-control-label" for="customCheck">Acepto los términos y condiciones</label>
                </div>
              </form>

              <div class="form-group no-margin">
                <button type="submit" class="btn btn-primary btn-block">
                  Registrarse
                </button>
              </div>
              <div class="margin-top20 text-center">
                Ya tenés una cuenta? <a routerLink="/logearse">Ingresá</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>