<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <div class="row">
        <div class="col-md-4">
    <p><a class="btn btn-primary btn-lg" routerLink="/Inicio/Boton1" role="button">Ir al botón 1</a></p>
  </div>
  <div class="col-md-4">
    <p><a class="btn btn-primary btn-lg" routerLink="/Inicio/Boton2" role="button">Ir al botón 2</a></p>
  </div>
  <div class="col-md-4">
  <p><a class="btn btn-primary btn-lg" routerLink="/Inicio/Boton3" role="button">Ir al botón 3</a></p>
</div>
</div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <router-outlet></router-outlet>
  </div>

  <hr>
</div> <!-- /container -->
