<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
</mat-form-field> -->
<div class="row justify-content-md-center h-100 mt-3">
  <div class="col-md-11">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="NombreMateria">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="Cuatrimestre">
          <th mat-header-cell *matHeaderCellDef> Cuatrimestre </th>
          <td mat-cell *matCellDef="let element"> {{element.Cuatrimestre}} </td>
        </ng-container>

        <ng-container matColumnDef="Cupos">
          <th mat-header-cell *matHeaderCellDef> Cupos </th>
          <td mat-cell *matCellDef="let element"> {{element.Cupos}} </td>
        </ng-container>

        <ng-container matColumnDef="NombreProfesor">
          <th mat-header-cell *matHeaderCellDef> Profesor </th>
          <td mat-cell *matCellDef="let element"> {{element.ProfesorNombre}} </td>
        </ng-container>

        <ng-container matColumnDef="Inscribirse">
          <th mat-header-cell *matHeaderCellDef> Inscribirse </th>
          <td mat-cell *matCellDef="let element">

            <div *ngIf="!estaInscripto(element.Alumnos); else inscripto">
              <button mat-flat-button color="primary" (click)="inscribirse(element)">Inscribirse</button>
            </div>
            <ng-template #inscripto>
              <button mat-flat-button color="primary" disabled>Inscripto</button>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Alumnos">
          <th mat-header-cell *matHeaderCellDef> Alumnos </th>
          <td mat-cell *matCellDef="let element">

            <button mat-flat-button color="primary" (click)="mostrarInscriptos(element)">Ver Inscriptos</button>

          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.Fecha.toDate() | date: 'dd/M/yyyy'}} </td>
    </ng-container> -->

        <div *ngIf="perfil == 'Administrador'">
          <tr mat-header-row *matHeaderRowDef="columsAdministrador"></tr>
          <tr mat-row *matRowDef="let row; columns: columsAdministrador;"></tr>
        </div>

        <div *ngIf="perfil == 'Profesor'">
          <tr mat-header-row *matHeaderRowDef="columsProfesor"></tr>
          <tr mat-row *matRowDef="let row; columns: columsProfesor;"></tr>
        </div>

        <div *ngIf="perfil == 'Alumno'">
          <tr mat-header-row *matHeaderRowDef="columsAlumno"></tr>
          <tr mat-row *matRowDef="let row; columns: columsAlumno;" [appCuposRows]="row.Cupos"></tr>

          <!-- <tr mat-row *matRowDef="let row; columns: columsAlumno;"
          [ngClass]="{'row-red': row.Cupos <= 10, 'row-yellow': row.Cupos >= 10, 'row-green': row.Cupos >= 20}"></tr> -->
        </div>

      </table>

      <div *ngIf="noData | async" class="no-resultados">
        No hay resultados
      </div>
    </div>
  </div>
</div>